@font-face {
  font-family: "inter";
  src:
    local("inter"),
    url(./fonts/InterMedium.otf) format("opentype");
  font-weight: medium;
}

@font-face {
  font-family: "inter";
  src:
    local("inter"),
    url(./fonts/InterBold.otf) format("opentype");
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inter;
  font-size: 13px;
}

h2 {
  font-family: inter;
  font-size: 37px;
  font-weight: bold;
  color: rgb(47, 49, 48);
}

h3 {
  font-family: inter;
  font-size: 13px;
  font-weight: bold;
  color: rgb(47, 49, 48);
  margin-bottom: 15px;
}

p {
  font-family: inter;
  font-size: 13px;
  line-height: 25px;
  color: rgb(90, 90, 90);
  font-weight: medium;
}

.dropdown {
  display: block;
  position: relative;
  width: 135px;
  margin: 0px 50px 0px 0px;
  font-family: inter;
  font-size: 13px;
  font-weight: medium;
}

.filters {
  width: 155px;
  height: 50px;
  display: flex;
  border: 0.5px solid rgb(181, 181, 181);
  border-radius: 10px;
  /* background-color: aqua; */
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: inter;
  font-size: 16px;
  line-height: 25px;
  color: rgb(90, 90, 90);
  font-weight: medium;
  padding: 0px 10px;
  /* margin: 30px; */
}

.filters:hover {
  background-color: rgb(220, 229, 228);
}

.AiOutlineDown {
  width: 17px;
}

.list {
  list-style-type: none;
  display: block;
  position: absolute;
  z-index: 70;
  background-color: white;
  padding: 10px 0px;
  margin: 0;
  width: 120%;
  margin-top: 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.2);
  /* 0 6px 20px 0  rgba(0, 0, 0, 0.19); */
  /* margin-left: 10px; */
}

.list li {
  padding: 8px 17px;
  font-family: inter;
  font-size: 16px;
  line-height: 25px;
  color: rgb(90, 90, 90);
  font-weight: medium;
}

.list li:hover {
  background-color: rgb(220, 229, 228);
}
